@font-face {
    font-family: 'Future TimeSplitters';
    src: url('fonts/Future-TimeSplitters.otf');
}

@font-face{
	font-family: 'Karma Suture';
	src: url('fonts/karma-suture.ttf');
}

.label {
    -fx-font-family: 'Future TimeSplitters';
    -fx-font-size: 95;
}

.button {
    -fx-font-family: 'Karma Suture';
	-fx-font-size: 20;
    -fx-background-color: linear-gradient(to top right, #F26419, #F6AE2D);
}

FontAwesomeIcon:hover{
	-fx-cursor:hand;
}