@font-face{
	font-family: 'Karma Suture';
	src: url('fonts/karma-suture.ttf');
}

@font-face{
	font-family: 'Karma Future';
	src: url('fonts/karma-future.ttf');
}

#pane{
	-fx-background-color: #556F7A; 
}

.button {
    -fx-font-family: 'Karma Suture';
    -fx-font-size: 20;
    -fx-text-fill: white;
    -fx-background-color: linear-gradient(to right, #5F9BFC, #87BFFF, #ADD7F6);
}

#player{
    -fx-font-family: 'Karma Future';
    -fx-font-size: 25;
    -fx-background-color: #2E6171;
}

#text{
	-fx-font-size: 15;
}

#tab{
    -fx-background-color: #2E6171;
}
.label {
    -fx-font-family: 'Karma Suture';
    -fx-font-size: 18;
    -fx-text-fill: white;
}

ImageView: hover{
	-fx-cursor: hand;
}

FontAwesomeIcon: hover{
    -fx-cursor: hand;
}